<h3>Welcome</h3>
<h4> <%= render text: current_user.email %> </h4> </br>
<%= link_to "Find Buses", users_dashboard_path %>
<%= link_to "Find Routes", users_dashboard_path %>
<%= link_to "Check Your Reservation", users_dashboard_path %>