<!-- <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
	<ul class="nav">
		<li><%= link_to "Buses", agency_buses_path(current_agency) %></li>
		<li><a href="#">Routes</a></li>
		<li><a href="#">Schedule</a></li>              
	</ul>
</div> -->

<div class="container">
			<%= render "agencies/shared/sidebar_agency" %>
	</div>
</div>
