<div class="row"> 
  <div class="col-md-3">
    <div class="jumbotron" style="padding-left:15px">	
      <strong>Your Reservation Number</strong>
    	<p>
    	  <%= @reservation.id %>
    	</p>

    	<strong>Total Reserved Seats</strong>
    	<p>
    	  <%= @reservation.no_of_seats %>
    	</p>

    	<strong>Total Amount of Fare</strong>
    	<p>
    	  <%= @reservation.fare %>
    	</p>

    	<strong>Date of Journey</strong>
    	<p>
    	  <%= @reservation.journy_date %>
    	</p>
    </div>
  </div>
</div>