<div class="wrapper">
	<div id="sidebar-wrapper" class="col-md-3">
		<div id="sidebar">
			<ul class="nav list-group">
				<li>
					<%= link_to "Buses", agency_buses_path(current_agency), class: "list-group-item"%>
				</li>
				<li>
					<%= link_to "Routes", agency_routes_path(current_agency), class: "list-group-item"%>
				</li>
				<li>
					<%= link_to "Schedules", agency_schedules_path(current_agency), class: "list-group-item"%>
				</li>
				<li>
					<a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 4</a>
				</li>
				<li>
					<a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 5</a>
				</li>
				<li>
					<a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 6</a>
				</li>
				<li>
					<a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 7</a>
				</li>
			</ul>
		</div>
	</div>
</div>